<div id="container" class="clearfix">
  <div id="drawArea">
    <canvas id="myCanvas" width="300" height="300"></canvas>
  </div>
  <div id="colorPalet">
    <div id="black"></div>
    <div id="blue"></div>
    <div id="red"></div>
    <div id="magenta"></div>
    <div id="green"></div>
    <div id="cyan"></div>
    <div id="yellow"></div>
    <div id="white"></div>
  </div>
</div>
<div id="slider">
  <%= range_field_tag "pen-width-slider", 1, :min => 1, :max => 20 %>
</div>
