
#drawArea, #colorPalet {
  float: left;
}



#myCanvas {
  background-color: #fff;
  border: 1px solid #000;
}

#colorPalet div {
  width: 32px;
  height: 32px;
  border: 1px solid gray;
}
#black {
  background-color : #000000;
}
#blue {
  background-color : #0000ff;
}
#red {
  background-color : #ff0000;
}
#magenta {
  background-color : #ff00ff;
}
#green {
  background-color : #00ff00;
}
#cyan {
  background-color : #00ffff;
}
#yellow {
  background-color : #ffff00;
}
#white {
  background-color : #ffffff;
}

#slider {
  height: 50px;
}

#pictures {
  margin-top: 20px;
}

.button {
  margin-top: 100px;
  padding: 10px;
  border: 1px solid #333;
  background-color: #ccc;
  cursor: pointer;
}

.thumbnail {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  margin: 10px;
}
